*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    height: 50vh;
    width: 50vw;
    background-color: darkgray;
    border: 3px saddlebrown solid;
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    /* justify-content: right; */
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    /* flex-direction: row-reverse; */
}

.container > .box{
    border:2px solid maroon;
    width: 42px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

